/* Add here all your CSS customizations */
/*bootstrap like*/
.align-bottom {
  vertical-align: bottom; }

.d-none {
  display: none; }

.d-block {
  display: block; }

.d-inline-block {
  display: inline-block; }

.d-grid {
  display: grid; }

.d-flex {
  display: flex; }

/*bootstrap like END*/
/*backend custom*/
.table-responsive table tr td {
  vertical-align: middle; }

.list-style-none ul {
  padding-left: 0;
  list-style: none; }
  .list-style-none ul li {
    list-style: none; }

.btn-view-edit {
  min-width: 9rem; }

.profile-image-big {
  width: 100%;
  height: auto; }

.panel-heading form.search {
  position: absolute;
  width: 16em;
  right: 12px;
  top: 12px;
  text-align: center; }

.page-header .btn {
  margin: 0.8em 0 0.8em 0.8em; }

.table .actions a i {
  min-width: unset;
  text-align: center; }

.table .actions a.show-actions {
  color: #0088cc; }
  .table .actions a.show-actions:hover {
    color: #5bc0de; }

.table .actions a:hover {
  color: #0088cc; }
  .table .actions a:hover i {
    color: #0088cc; }

.table .actions a,
.table .actions-hover a {
  margin-right: 0;
  color: #08c; }
  .table .actions a:last-child,
  .table .actions-hover a:last-child {
    margin-right: 0; }

/*backend custom END*/
