{% extends("backend/base_index.html.twig") %}
{% trans_default_domain "backend" %}

{% set title = "Indhold / Tekster" %}


{% block actions %}
    <a class="btn btn-default" href="{{ path('backend_admin_content_new') }}">Opret ny</a>
{% endblock %}


{% block table_head %}
    <tr>
        <th>Navn</th>
        <th>Nøgle (til udvikler)</th>
        <th>Tekst</th>
        <th class="actions">Handlinger</th>
    </tr>
{% endblock %}


{% block table_row %}
    <tr>
        <td> <a href="{{ path('backend_admin_content_edit', {'id': entity.id}) }}" title="Rediger">{{ entity.humanName }}</a></td>
        <td>{{ entity.name }}</td>
        {% set charLimit = 65 %}
        <td>{{ entity.text|slice(0,charLimit)|spaceless }}{% if entity.text|length > charLimit %}...{% endif %}</td>
        <td class="actions" nowrap>
            <a href="#" class="show-actions">{% trans %}Vis{% endtrans %}</a>
            <div class="actions-wrapper d-none">
                <a class="btn btn-link btn-sm" href="{{ path('backend_admin_content_edit', {'id': entity.id}) }}"><i class="fas fa-pencil-alt mr-xs"></i> Rediger</a>
                {{ include('backend/_delete_form.html.twig', { path: path('backend_admin_content_delete', {'id': entity.id}) }) }}
            </div>
        </td>
    </tr>
{% endblock %}

