{% if path|default and entity.id|default %}
    <form method="post" action="{{ path }}" onsubmit="return confirm('Er du sikker på at du vil slette?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
        <button class="btn btn-sm btn-link"><i class="fas fa-trash mr-xs"></i>{{ noText|default ? null : ' Slet' }}</button>
    </form>
{% endif %}
