{% extends "backend/base.html.twig" %}
{% trans_default_domain "backend" %}

{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] only %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <section class="panel">
                <header class="panel-heading">
{#                    <div class="panel-actions">#}
{#                        <a href="#" class="fa fa-caret-down"></a>#}
{#                        <a href="#" class="fa fa-times"></a>#}
{#                    </div>#}

                    <h2 class="panel-title">{{ title|default("title") }}</h2>
                </header>
                <div class="panel-body">
                    {% block form %}
                        {{  form(form) }}
                    {% endblock %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
