{% trans_default_domain "backend" %}
<a href="{{ href|default }}"
   class="{{ class|default("") }}"
   onclick="{% if confirm is defined %}if(!window.confirm('{{ confirm }}')){return false;}{% endif %}"><i class="{{ icon|default("") }} mr-xs"></i> {{ text|default|trans }}
</a>