{% extends "backend/base.html.twig" %}
{% trans_default_domain "backend" %}

{% set title = "Glemt adgangskode"|trans %}

{% block body %}

    <!-- start: page -->
    <section class="body-sign">
        <div class="center-sign">
{#            <a href="/" class="logo pull-left">#}
{#                <img src="assets/backend/images/logo.png" height="54" alt="Porto Admin"/>#}
{#            </a>#}

            <div class="panel panel-sign">
                <div class="panel-title-sign mt-xl text-right">
                    <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> {% trans %}Nulstil adgangskode{% endtrans %}</h2>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        <p class="m-none text-semibold h6">
                            {% trans %}Indtast din e-mail herunder og du vil modtage en mail vedr. nulstilling af adgangskode{% endtrans %}
                            {% if content and content.text|trim|length > 0 %}
                                <br/>
                                <br />
                                {{ content.text|raw|nl2br }}
                            {% endif %}
                        </p>
                    </div>
                    {% for message in app.flashes("error") %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {{ form_start(form) }}
                    <div class="form-group mb-none">
                        <div class="input-group">
                            {{ form_widget(form.email) }}
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-lg" type="submit">{% trans %}Nulstil{% endtrans %}!</button>
                            </span>
                        </div>
                    </div>

                    <p class="text-center mt-lg"><a href="{{ path("app_login") }}">{% trans %}Tilbage til log ind{% endtrans %}!</a>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
    <!-- end: page -->

{% endblock %}
