{% extends "backend/base.html.twig" %}
{% trans_default_domain "backend" %}

{% set title = "Glemt adgangskode"|trans %}

{% block body %}

    <!-- start: page -->
    <section class="body-sign">
        <div class="center-sign">
            {#            <a href="/" class="logo pull-left">#}
            {#                <img src="assets/backend/images/logo.png" height="54" alt="Porto Admin"/>#}
            {#            </a>#}

            <div class="panel panel-sign">
                <div class="panel-title-sign mt-xl text-right">
                    <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-lock mr-xs"></i> Ny adgangskode</h2>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        <p class="m-none text-semibold h6">Indtast din nye adgangskode herunder</p>
                    </div>

                    {{ form_start(form) }}

                    {% if form_errors(form.password.children["first"]) or form_errors(form.password.children["second"]) %}
                    <div class="alert alert-danger list-style-none">
                        {{ form_errors(form.password.children["first"]) }}
                        {{ form_errors(form.password.children["second"]) }}
                    </div>
                    {% endif %}

                    <div class="form-group mb-none">
                        <div class="input-group">
                            {{ form_widget(form.email, { "attr": {"class": "d-none"} }) }}
                            {{ form_widget(form.password.children["first"], { "attr": {"class": "form-control input-lg mb-xs"} }) }}
                            {{ form_widget(form.password.children["second"], { "attr": {"class": "form-control input-lg"} })  }}
                            <span class="input-group-btn align-bottom">
                                    <button class="btn btn-primary btn-lg" type="submit">{% trans %}Gem{% endtrans %}</button>
                                </span>
                        </div>
                    </div>

                    <p class="text-center mt-lg"><a href="{{ path("app_login") }}">Tilbage til log ind!</a></p>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </section>
    <!-- end: page -->

{% endblock %}
