<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% if title is defined %}{{ title }}{% endif %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
