{% extends("frontend/generic/base.html.twig") %}

{% set title = "Frontpage" %}

{% block content %}
    <p>{% trans %}FRONTPAGE CONTENT{% endtrans %}</p>

    <p>Menu:</p>
    <ul>
    {{ knp_menu_render("frontend_main_menu") }}
    </ul>


{% endblock %}
