{% extends "backend/base_index.html.twig" %}
{% trans_default_domain "backend" %}

{% set title = "Opbygning af spørgeskema" %}


{% block stylesheets %}
    {{ parent() }}

    <style>
        .questions form {
            display: inline;
        }

        .questions form .btn {
            display: inline;
            padding: 0;
            line-height: 0;
            color: #d2322d !important;
        }
    </style>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $(document).on('click', '.question-add', function () {
            });
        });

        $('.ajax-modal').magnificPopup({
            type: 'ajax',
            closeOnContentClick: false,
        });


    </script>
{% endblock %}


{% block actions %}
    <a class="btn btn-default" href="{{ path('backend_admin_category_new') }}">Opret ny kategori</a>
{% endblock %}


{% block table_head %}
    <tr>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <th>ID</th>
        {% endif %}
        <th>Kategori</th>
        <th>Spørgsmål</th>
        <th class="actions">Handlinger</th>
    </tr>
{% endblock %}


{% block table_row %}
    <tr>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <td>{{ entity.id }}</td>
        {% endif %}
        <td><a class="btn btn-link btn-sm" style="text-align: left;" href="{{ path('backend_admin_category_edit', {'id': entity.id}) }}" title="Rediger">{{ entity.name }}</a></td>
        <td>
            <div class="question">
                <ul class="questions">
                    {% for formGroup in entity.formGroups %}
                        <li style="list-style: none;" class="mb-xl">
                            {% if formGroup.type == 'typeGroup' %}
                                <strong>{{ formGroup.name }}</strong>
                            {% else %}
                                {{ formGroup.name }}
                            {% endif %}

                            <a class="ajax-modal" href="{{ path('backend_admin_formGroup_edit_ajax_form', {'category_id': entity.id, 'id': formGroup.id}) }}"><i class="fa fa-edit text-success question-add"></i></a>
                            {{ include('backend/_delete_form.html.twig', { path: path('backend_admin_formGroup_delete', {'category_id': entity.id, 'id': formGroup.id}), entity: formGroup, noText: true }) }}

                            {% if formGroup.type == 'typeGroup' %}
                                <a class="ajax-modal" href="{{ path('backend_admin_formGroup_ajax_form_add', {'category_id': entity.id, 'id': formGroup.id}) }}"><i class="fa fa-plus-circle text-success question-add"></i></a>
                                <ul>
                                    {% for formGroupLevel2 in formGroup.lowerFormGroups %}
                                        <li {% if formGroupLevel2.type == 'typeGroup' %}class="mt-lg"{% endif %}>
                                            {% if formGroupLevel2.type == 'typeGroup' %}
                                                <strong>{{ formGroupLevel2.name }}</strong>
                                            {% else %}
                                                {{ formGroupLevel2.name }}
                                            {% endif %}

                                            <a class="ajax-modal" href="{{ path('backend_admin_formGroup_edit_ajax_form', {'category_id': entity.id, 'id': formGroupLevel2.id}) }}"><i class="fa fa-edit text-success question-add"></i></a>
                                            {{ include('backend/_delete_form.html.twig', { path: path('backend_admin_formGroup_delete', {'category_id': entity.id, 'id': formGroupLevel2.id}), entity: formGroupLevel2, noText: true }) }}

                                            {% if formGroupLevel2.type == 'typeGroup' %}
                                                <a class="ajax-modal" href="{{ path('backend_admin_formGroup_ajax_form_add', {'category_id': entity.id, 'id': formGroupLevel2.id}) }}"><i class="fa fa-plus-circle text-success question-add"></i></a>
                                                <ul>
                                                    {% for formGroupLevel3 in formGroupLevel2.lowerFormGroups %}
                                                        <li>{{ formGroupLevel3.name }}
                                                            <a class="ajax-modal" href="{{ path('backend_admin_formGroup_edit_ajax_form', {'category_id': entity.id, 'id': formGroupLevel3.id}) }}"><i class="fa fa-edit text-success question-add"></i></a>
                                                            {{ include('backend/_delete_form.html.twig', { path: path('backend_admin_formGroup_delete', {'category_id': entity.id, 'id': formGroupLevel3.id}), entity: formGroupLevel3, noText: true }) }}

                                                            {% if formGroupLevel3.type == 'typeGroup' %}
                                                                <a class="ajax-modal" href="{{ path('backend_admin_formGroup_ajax_form_add', {'category_id': entity.id, 'id': formGroupLevel3.id}) }}"><i class="fa fa-plus-circle text-success question-add"></i></a>
                                                                <ul>
                                                                    {% for formGroupLevel4 in formGroupLevel3.lowerFormGroups %}
                                                                        <li>{{ formGroupLevel4.name }}
                                                                            <a class="ajax-modal" href="{{ path('backend_admin_formGroup_edit_ajax_form', {'category_id': entity.id, 'id': formGroupLevel4.id}) }}"><i class="fa fa-edit text-success question-add"></i></a>
                                                                            {{ include('backend/_delete_form.html.twig', { path: path('backend_admin_formGroup_delete', {'category_id': entity.id, 'id': formGroupLevel4.id}), entity: formGroupLevel4, noText: true }) }}

                                                                            {% if formGroupLevel4.type == 'typeGroup' %}

                                                                            {% else %}
                                                                                ({{ formGroupLevel4.type|trans }})
                                                                            {% endif %}
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>

                                                            {% else %}
                                                                ({{ formGroupLevel3.type|trans }})
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}

                                                </ul>

                                            {% else %}
                                                ({{ formGroupLevel2.type|trans }})
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                ({{ formGroup.type|trans }})
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <a class="ajax-modal btn btn-link" href="{{ path('backend_admin_formGroup_ajax_form', {'category_id': entity.id}) }}"><i class="fa fa-2x fa-plus-circle text-success question-add"></i></a>
            </div>
        </td>
        <td class="actions" nowrap>
            <a href="#" class="show-actions">{% trans %}Vis{% endtrans %}</a>
            <div class="actions-wrapper d-none">
                <a class="btn btn-link btn-sm" href="{{ path('backend_admin_category_edit', {'id': entity.id}) }}"><i class="fas fa-pencil-alt mr-xs"></i> Rediger</a>
                {{ include('backend/_delete_form.html.twig', { path: path('backend_admin_category_delete', {'id': entity.id}) }) }}
            </div>
        </td>
    </tr>
{% endblock %}

