// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
//@import "~bootstrap/scss/bootstrap";

body {
  background-color: lightgray;
}

.container {
  display: inline-block;
  height: 100px;
  background-color: coral;

  .inner-container {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: red;
    margin-top: 10px;
  }
}

p {
    font-size: 24px;
}
