{% extends("backend/base_index.html.twig") %}
{% trans_default_domain "backend" %}

{% set searchFormAction = path(app.request.attributes.get('_route')) %}
{% set title = "Domæner"|trans %}

{% block tableData %}

    {% if q|length == 0 %}
        <div class="ml-xs mb-xs">{% trans %}Total{% endtrans %}: {{ entities.getTotalItemCount }}</div>
    {% else %}
        <div class="ml-xs mb-xs">{% trans %}Resultater{% endtrans %}: {{ entities.getTotalItemCount }} <a href="{{ path(app.request.attributes.get('_route')) }}" class="ml-xs">Vis alle</a></div>
    {% endif %}

    <table class="{{ tableDataTableClass }}">
        <thead>
        <tr>
            <th align="center">
                <input type="checkbox" value="all" class="select-all-checkboxes"/>
                #
            </th>
            <th>{% trans %}Rediger{% endtrans %}</th>
            <th>{% trans %}Navn{% endtrans %}</th>
            <th>{% trans %}Domæne{% endtrans %}</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if entities is not empty %}
            {% for entity in entities %}
                <tr>
                    <td>
                        <input name="entity-row[]" type="checkbox" value="{{ entity.id }}" data-id="{{ entity.id }}" class="entity-checkbox"/>
                        {{ entity.id }}
                    </td>
                    <td nowrap>{{ include ("backend/base_btn.html.twig", {"href": path("base_backend_hosts_edit", {slug: entity.slug}), "text": "Rediger"|trans, "class": "btn btn-sm btn-primary btn-view-edit", "icon": "fas fa-pencil-alt" }) }}</td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.domain }}</td>
                    <td nowrap>{{ include ("backend/base_btn.html.twig", {"href": path("base_backend_hostmaster_admins", {slug: entity.slug}), "text": "Brugere"|trans, "class": "btn btn-sm btn-primary btn-view-edit", "icon": "fas fa-users" }) }}</td>
                    <td class="actions" nowrap>
                        <div class="actions-wrapper">
                            {{ include ("backend/base_btn.html.twig", {"href": path("base_backend_hosts_delete", {slug: entity.slug}), "text": "Slet"|trans, "class": "btn-delete", "icon": "fas fa-trash",  "confirm": "Er du sikker?"|trans }) }}
                            <br>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <div class="ml-sm">
        {{ knp_pagination_render(entities) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let pathDeleteEntities = "{{ path('base_backend_hosts_delete_multible') }}";
        let confirmMsg = "{% trans %}Er du sikker på at du vil slette de valgte?{% endtrans %}";
    </script>
    <script src="{{ asset('assets/backend/javascripts/table-data-view.js') }}"></script>
{% endblock %}

