{% extends "backend/base.html.twig" %}
{% trans_default_domain "backend" %}

{% set title = "Hjem"|trans %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-lg-12 col-xl-6">
            <section class="panel panel-featured-left">
                <div class="panel-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Registreringer de sidste 30 dage</h4>
                                <div class="info">
                                    <strong class="amount">{#{{ statQuantity }}#} X </strong>
                                </div>
                            </div>
                            <div class="summary-footer">
                                <a class="text-muted text-uppercase" href="{#{{ path('backend_statistic_index') }}#}">(Se statistik)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{#            <section class="panel">#}
{#                <header class="panel-heading panel-heading-transparent">#}
{#                    <div class="panel-actions">#}
{#                        <a href="#" class="fa fa-caret-down"></a>#}
{#                        <a href="#" class="fa fa-times"></a>#}
{#                    </div>#}

{#                    <h2 class="panel-title">Projects Stats</h2>#}
{#                </header>#}
{#                <div class="panel-body">#}
{#                    <div class="table-responsive">#}
{#                        <table class="table table-striped mb-none">#}
{#                            <thead>#}
{#                            <tr>#}
{#                                <th>#</th>#}
{#                                <th>Project</th>#}
{#                                <th>Status</th>#}
{#                                <th></th>#}
{#                            </tr>#}
{#                            </thead>#}
{#                            <tbody>#}
{#                            <tr>#}
{#                                <td>1</td>#}
{#                                <td>JSOFT - Responsive HTML5 Template</td>#}
{#                                <td><span class="label label-success">Success</span></td>#}
{#                                <td align="right">#}
{#                                    <button class="btn-sm btn-primary">Rediger</button>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>2</td>#}
{#                                <td>JSOFT - Responsive Drupal 7 Theme</td>#}
{#                                <td><span class="label label-success">Success</span></td>#}
{#                                <td align="right">#}
{#                                    <button class="btn-sm btn-primary">Rediger</button>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>3</td>#}
{#                                <td>Tucson - Responsive HTML5 Template</td>#}
{#                                <td><span class="label label-warning">Warning</span></td>#}
{#                                <td align="right">#}
{#                                    <button class="btn-sm btn-primary">Rediger</button>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>4</td>#}
{#                                <td>Tucson - Responsive Business WordPress Theme</td>#}
{#                                <td><span class="label label-success">Success</span></td>#}
{#                                <td align="right">#}
{#                                    <button class="btn-sm btn-primary">Rediger</button>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>5</td>#}
{#                                <td>JSOFT - Responsive Admin HTML5 Template</td>#}
{#                                <td><span class="label label-warning">Warning</span></td>#}
{#                                <td align="right">#}
{#                                    <button class="btn-sm btn-primary">Rediger</button>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>6</td>#}
{#                                <td>JSOFT - Responsive HTML5 Template</td>#}
{#                                <td><span class="label label-danger">Danger</span></td>#}
{#                                <td align="right">#}
{#                                    <button class="btn-sm btn-primary">Rediger</button>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>7</td>#}
{#                                <td>JSOFT - Responsive Drupal 7 Theme</td>#}
{#                                <td><span class="label label-success">Success</span></td>#}
{#                                <td align="right">#}
{#                                    <button class="btn-sm btn-primary">Rediger</button>#}
{#                                </td>#}
{#                            </tr>#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}
        </div>
    </div>
{% endblock %}
