{% extends("backend/base_index.html.twig") %}
{% trans_default_domain "backend" %}

{% set searchFormAction = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% set title = "Administratorer"|trans %}

{% block tableData %}

    {% if q|length == 0 %}
        <div class="ml-xs mb-xs">{% trans %}Total{% endtrans %}: {{ entities.getTotalItemCount }}</div>
    {% else %}
        <div class="ml-xs mb-xs">{% trans %}Resultater{% endtrans %}: {{ entities.getTotalItemCount }} <a href="{{ path(app.request.attributes.get('_route')) }}" class="ml-xs">Vis alle</a></div>
    {% endif %}

    <table class="{{ tableDataTableClass }}">
        <thead>
        <tr>
            <th align="center">
                <input type="checkbox" value="all" class="select-all-checkboxes"/>
                #
            </th>
            <th>{% trans %}Rediger{% endtrans %}</th>
            <th>{% trans %}E-mail{% endtrans %}</th>
            <th>{% trans %}Fornavn{% endtrans %}</th>
            <th>{% trans %}Efternavn{% endtrans %}</th>
            <th class="actions">{% trans %}Handlinger{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% if entities is not empty %}
            {% for entity in entities %}
                <tr>
                    <td>
                        <input name="entity-row[]" type="checkbox" value="{{ entity.id }}" data-id="{{ entity.id }}" class="entity-checkbox"/>
                        {{ entity.id }}
                    </td>
                    {% if is_granted('ROLE_HOSTMASTER') %}
                        {% set path = 'base_backend_hostmaster_admins_edit' %}
                    {% else %}
                        {% set path = 'base_backend_admin_edit' %}
                    {% endif %}

                    <td nowrap>{{ include ("backend/base_btn.html.twig", {"href": path(path, {slug: entity.slug}), "text": "Rediger"|trans, "class": "btn btn-sm btn-primary btn-view-edit", "icon": "fas fa-pencil-alt" }) }}</td>
                    <td>{{ entity.email }}</td>
                    <td>{{ entity.firstname }}</td>
                    <td>{{ entity.lastname }}</td>
                    <td class="actions" nowrap>
                        <a href="#" class="show-actions">{% trans %}Vis{% endtrans %}</a>
                        <div class="actions-wrapper d-none">
                            {% if is_granted('ROLE_HOSTMASTER') %}
                                {% set path = 'base_backend_hostmaster_admins_delete' %}
                            {% else %}
                                {% set path = 'base_backend_admin_delete' %}
                            {% endif %}
                            {{ include ("backend/base_btn.html.twig", {"href": path(path, {slug: entity.slug}), "text": "Slet"|trans, "class": "btn-delete", "icon": "fas fa-trash",  "confirm": "Er du sikker?"|trans }) }}
                            <br>
                            {% if is_granted('ROLE_HOSTMASTER') %}
                                {{ include ("backend/base_btn.html.twig", {"href": path("base_backend_admin_home", {_log_in_as: entity.username}), "text": "Log ind som bruger"|trans, "class": "", "icon": "fas fa-glasses"}) }}
                                <br>
                            {% endif %}
                            {% if is_granted('ROLE_HOSTMASTER') %}
                                {% set path = 'base_backend_hostmaster_admins_change_password' %}
                            {% else %}
                                {% set path = 'base_backend_admin_change_password' %}
                            {% endif %}
                            {{ include ("backend/base_btn.html.twig", {"href": path(path, {slug: entity.slug}), "text": "Ændre adgangskode"|trans, "class": "", "icon": "fa fa-lock" }) }}
                            <br>
                            {% if is_granted('ROLE_HOSTMASTER') %}
                                {% set path = 'base_backend_hostmaster_admins_send_mail_reset_password' %}
                            {% else %}
                                {% set path = 'base_backend_admin_send_mail_reset_password' %}
                            {% endif %}
                            {{ include ("backend/base_btn.html.twig", {"href": path(path, {slug: entity.slug}), "text": 'Send "Nulstil adgangskode"'|trans, "class": "", "icon": "fa fa-paper-plane",  "confirm": "Er du sikker?"|trans }) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <div class="ml-sm">
        {{ knp_pagination_render(entities) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let pathDeleteEntities = "{{ path('base_backend_admin_delete_multible') }}";
        let confirmMsg = "{% trans %}Er du sikker på at du vil slette de valgte?{% endtrans %}";
    </script>
    <script src="{{ asset('assets/backend/javascripts/table-data-view.js') }}"></script>
{% endblock %}

