{% extends("backend/base_index.html.twig") %}
{% trans_default_domain "backend" %}

{% set title = "Min profil"|trans %}

{% block content %}
    <!-- start: page -->
    <div class="row">

        <div class="col-md-4 col-lg-3">

            <section class="panel">
                <div class="panel-body">
                    <div class="thumb-info mb-md">
                        <img src="{{ app.user.profileImagePath }}" class="rounded img-responsive profile-image-big" alt="{{ app.user.name }}">
                        <div class="thumb-info-title">
                            <span class="thumb-info-inner">{{ app.user.name }}</span>
{#                            <span class="thumb-info-type">{% trans %}Skift billede{% endtrans %}</span>#}
                        </div>
                    </div>
                    <ul class="simple-bullet-list mb-xlg ml-xs">
                        <li class="blue">
                            <span class="title">{% trans %}Rolle{% endtrans %}</span>
                            {% if "ROLE_ADMIN" in app.user.roles %}
                                <span class="description truncate">{% trans %}Administator{% endtrans %}</span>
                            {% else %}
                                <span class="description truncate">{% trans %}Bruger{% endtrans %}</span>
                            {% endif %}
                        </li>
                        <li class="blue">
                            <span class="title">{% trans %}Oprettet{% endtrans %}</span>
                            <span class="description truncate">{{ user.createdAt|date("j.") }} {{ user.createdAt|date("M")|trans }} {{ user.createdAt|date("Y") }}</span>
                        </li>
{#                        <li class="blue">#}
{#                            <span class="title">{% trans %}Antal logins{% endtrans %}</span>#}
{#                            <span class="description truncate">98 @todo</span>#}
{#                        </li>#}
                        <li class="blue">
                            <span class="title">{% trans %}Din nuværende IP{% endtrans %}</span>
                            <span class="description truncate">{{ server.REMOTE_ADDR }} <a href="#" onclick="copyIp(); return false;" id="copyIpId">{% trans %}Kopiér{% endtrans %}</a> </span>
                            <input type="text" value="{{ server.REMOTE_ADDR }}" id="myIp" style="display: none;">
                            <script>
                                function copyIp() {
                                    let copyText = document.getElementById("myIp");
                                    copyText.select();
                                    copyText.setSelectionRange(0, 99999)
                                    document.execCommand("copy");
                                    document.getElementById("copyIpId").innerHTML = "{% trans %}Kopieret{% endtrans %}!";
                                }
                            </script>
                        </li>
                        <li class="blue">
                            <span class="title">{% trans %}Din browser{% endtrans %}</span>
                            <span class="description truncate">{{ server.HTTP_USER_AGENT }}</span>
                        </li>
                    </ul>

                    {#
                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>Profile Completion</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-collapsed">
                                <div class="progress progress-xs light">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 60%;">
                                        60%
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li class="completed">Update Profile Picture</li>
                                    <li class="completed">Change Personal Information</li>
                                    <li>Update Social Media</li>
                                    <li>Follow Someone</li>
                                </ul>
                            </div>
                        </div>
                        <hr class="dotted short">
                        <h6 class="text-muted">About</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis vulputate quam. Interdum et malesuada</p>
                    #}
                </div>
            </section>
        </div>
        <div class="col-md-8 col-lg-9">

            <div class="tabs">
                <ul class="nav nav-tabs tabs-primary">
                    <li class="active">
                        <a href="#edit" data-toggle="tab">{% trans %}Information{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="#password" data-toggle="tab">{% trans %}Ny adgangskode{% endtrans %}</a>
                    </li>
                </ul>
                <div class="tab-content">

                    {% for message in app.flashes("success") %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes("error") %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <div id="edit" class="tab-pane active">

                        {{ form_start(form, {"attr": {"class": "form-horizontal"}}) }}

                        <form class="form-horizontal" method="get">
                            <h4 class="mb-xlg">{% trans %}Basis information{% endtrans %}</h4>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileFirstName">{% trans %}E-mail{% endtrans %}</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.email, {"attr": {"class": "form-control"}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileFirstName">{% trans %}Fornavn{% endtrans %}</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.firstname, {"attr": {"class": "form-control"}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileLastName">{% trans %}Efternavn{% endtrans %}</label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.lastname, {"attr": {"class": "form-control"}}) }}
                                    </div>
                                </div>
                            </fieldset>
{#                            <h4 class="mb-xlg">{% trans %}Adresse{% endtrans %}</h4>#}
{#                            <fieldset>#}
{#                                <div class="form-group">#}
{#                                    <label class="col-md-3 control-label" for="profileAddress">{% trans %}Adresse{% endtrans %}</label>#}
{#                                    <div class="col-md-8">#}
{#                                        <input type="text" class="form-control" id="profileAddress">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label class="col-md-3 control-label" for="profileAddress">{% trans %}Postnr.{% endtrans %}</label>#}
{#                                    <div class="col-md-8">#}
{#                                        <input type="text" class="form-control" id="profileAddress">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label class="col-md-3 control-label" for="profileAddress">{% trans %}By{% endtrans %}</label>#}
{#                                    <div class="col-md-8">#}
{#                                        <input type="text" class="form-control" id="profileAddress" disabled>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </fieldset>#}
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-9 col-md-offset-3">

                                        {{ form_widget(form.submit, {"attr": {"class": "btn btn-primary"}}) }}

                                    </div>
                                </div>
                            </div>


                        {{ form_end(form) }}

                    </div>

                    <div id="password" class="tab-pane">
                        <h4 class="mb-xlg">{% trans %}Ny adgangskode{% endtrans %}</h4>

                        {{ form_start(formPassword, {"attr": {"class": "form-horizontal"}}) }}

                            {{ form_widget(formPassword.email, {"attr": {"class": "form-control d-none"}}) }}

                            <fieldset class="mb-xl">
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileNewPassword">{% trans %}Ny adgangskode{% endtrans %}</label>
                                    <div class="col-md-8">
                                        {{ form_widget(formPassword.password.first, {"attr": {"class": "form-control"}}) }}

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileNewPasswordRepeat">{% trans %}Gentag ny adgangskode{% endtrans %}</label>
                                    <div class="col-md-8">
                                        {{ form_widget(formPassword.password.second, {"attr": {"class": "form-control"}}) }}
                                    </div>
                                </div>
                            </fieldset>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">{% trans %}Gem{% endtrans %}</button>
                                    </div>
                                </div>
                            </div>

                        {{ form_end(formPassword) }}

                    </div>

                </div>
            </div>
        </div>
{#
        <div class="col-md-12 col-lg-3">

            <h4 class="mb-md">Stats</h4>
            <ul class="simple-card-list mb-xlg">
                <li class="primary">
                    <p>{% trans %}Oprettet{% endtrans %} </p>
                    <h3>21. okt 2019 @todo</h3>
                </li>
                <li class="primary">
                    <p>Antal logins</p>
                    <h3>98 @todo</h3>
                </li>
                <li class="primary">
                    <p>Din nuværende IP</p>
                    <h3>{{ server.REMOTE_ADDR }}</h3>
                </li>
                <li class="primary">
                    <p>Din browser</p>
                    <h4 class="mt-none">{{ server.HTTP_USER_AGENT }}</h4>
                </li>
            </ul>

            <h4 class="mb-md">Teknisk data</h4>
            <ul class="simple-bullet-list mb-xlg">
                <li class="blue">
                    <span class="title">{% trans %}Oprettet{% endtrans %}</span>
                    <span class="description truncate">21. okt 2019 @todo</span>
                </li>
                <li class="blue">
                    <span class="title">Antal logins</span>
                    <span class="description truncate">98 @todo</span>
                </li>
                <li class="blue">
                    <span class="title">Din nuværende IP</span>
                    <span class="description truncate">{{ server.REMOTE_ADDR }} <a href="#" onclick="copyIp(); return false;" id="copyIpId">Kopiér</a> </span>
                    <input type="text" value="{{ server.REMOTE_ADDR }}" id="myIp" style="display: none;">
                    <script>
                        function copyIp() {
                            let copyText = document.getElementById("myIp");
                            copyText.select();
                            copyText.setSelectionRange(0, 99999)
                            document.execCommand("copy");
                            document.getElementById("copyIpId").innerHTML = "Kopieret!";
                        }
                    </script>
                </li>
                <li class="blue">
                    <span class="title">Din browser</span>
                    <span class="description truncate">{{ server.HTTP_USER_AGENT }}</span>
                </li>
            </ul>

        </div>
#}
    </div>
    <!-- end: page -->
{% endblock %}
