{% trans_default_domain "mail" %}
<p>{% trans %}Du har bedt om at nulstille din adgangskode. Kilk på linket herunder for at oprette din nye adgangskode.{% endtrans %}</p>
{% include "mail/base_btn.html.twig" with {"host": host, "href": path("login_new_password", {secret: user.secret|raw}), "text": "Opret ny adgangskode her"|trans} %}