{% trans_default_domain "mail" %}
<p>{% trans %}Du er nu oprettet som bruger.{% endtrans %}</p>

<p>{% trans %}Du kan logge ind med føglende login{% endtrans %}:</p>
<p>
    <strong>{% trans %}E-mail{% endtrans %}:</strong> {{ user.email }}
    <br>
    <strong>{% trans %}Adgangskode{% endtrans %}:</strong> {{ password }}
</p>
<br>
{% include "mail/base_btn.html.twig" with {"host": host, "href": path("app_login"), "text": "Klik her for at logge ind"|trans} %}

<p>{% trans %}God fornøjelse{% endtrans %}.</p>
<p>{% trans %}Med venlig hilsen{% endtrans %}
<br>
[AFSENDER]
</p>
