{% extends("backend/base_index.html.twig") %}
{% trans_default_domain "backend" %}

{% set title = "Brugere" %}


{% block actions %}
    <a class="btn btn-default" href="{{ path('backend_admin_employee_new') }}">Opret ny</a>
{% endblock %}


{% block table_head %}
    <tr>
        <th>Id</th>
        <th>Navn</th>
        <th>Brugernavn / E-mail</th>
        <th>Rolle</th>
        <th class="actions">Handlinger</th>
    </tr>
{% endblock %}


{% block table_row %}
    <tr>
        <td>{{ entity.id }}</td>
        <td> <a href="{{ path('backend_admin_employee_edit', {'id': entity.id}) }}" title="Rediger">{{ entity.name }}</a></td>
        <td>{{ entity.username }}</td>
        <td>
        {% if "ROLE_ADMIN" in entity.roles %}
            Administrator
        {% else %}
            Bruger
        {% endif %}
        </td>
        <td class="actions" nowrap>
            <a href="#" class="show-actions">{% trans %}Vis{% endtrans %}</a>
            <div class="actions-wrapper d-none">
                <a class="btn btn-link btn-sm" href="{{ path('backend_admin_employee_edit', {'id': entity.id}) }}"><i class="fas fa-pencil-alt mr-xs"></i> Rediger</a>
                {% if entity.username|lower != "frivillig" and entity.username|lower != "admin" %}
                    {{ include('backend/_delete_form.html.twig', { path: path('backend_admin_employee_delete', {'id': entity.id}) }) }}
                {% endif %}
            </div>
        </td>
    </tr>
{% endblock %}

